.cast_title {
  margin-left: 40px;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: rgb(226, 120, 81);
}

.cast_list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  text-decoration: none;
}

.cast_item {
  list-style: none;
}

.cast_name {
  color: rgb(33, 111, 238);
  font-weight: bold;
}
